/* .theme-mode-light {
  --primary-dark: var(--primary-dark-light);
  --primary-main: var(--primary-main-light);
  --color-light: var(--color-light-light);
  --box-shadow: var(--box-shadow-light);
}

.theme-mode-dark {
  --primary-dark: var(--primary-dark-dark);
  --primary-main: var(--primary-main-dark);
  --color-light: var(--color-light-dark);
  --box-shadow: var(--box-shadow-dark);
}

.theme-color-blue {
  --main-color: var(--main-color-blue);
  --second-color: var(--second-color-blue);
}

.theme-color-red {
  --main-color: var(--main-color-red);
  --second-color: var(--second-color-red);
}

.theme-color-cyan {
  --main-color: var(--main-color-cyan);
  --second-color: var(--second-color-cyan);
}

.theme-color-green {
  --main-color: var(--main-color-green);
  --second-color: var(--second-color-green);
}

.theme-color-orange {
  --main-color: var(--main-color-orange);
  --second-color: var(--second-color-orange);
} */
